body {
    font-family: 'Comic Relief', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    position: fixed;
    padding: 1.4vw 0;
    width: 100%;
    font-size: 1.4vw;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(40, 40, 40);
    padding: 0.6vw;
    border-radius: 0.6vw;
}

a:hover{
  background-color: rgb(60, 60, 60);
  text-decoration: none;
}

a:active{
  background-color: rgb(20, 20, 20);

}


a:hover {
    border-bottom: 2px solid white;
}

.Page_1{
    width: 100vw;
    height: 56.2vw;
    background: linear-gradient(139deg, rgba(0,6,51,1) 0%, rgba(10,3,38,1) 23%, rgba(20,0,25,1) 45%, rgba(29,0,37,1) 62%, rgba(39,0,50,1) 80%, rgba(72,0,91,1) 100%);
}

#Title{
    text-align: center;
    transform: translateY(6vw);
    font-size: 6vw;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.2vw whitesmoke;
    background: linear-gradient(139deg, rgb(0, 8, 69) 0%, rgb(15, 5, 59) 23%, rgba(20,0,25,1) 45%, rgba(29,0,37,1) 62%, rgb(60, 0, 76) 80%, rgb(102, 0, 130) 100%);
    margin: 0 30vw;
    border-radius: 1.5vw;
    box-shadow: 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.4);
}

.courseTab{
    text-align: center;
    background: linear-gradient(to bottom right, rgb(255, 127, 80), rgb(255, 69, 0));
    color: white;
    padding: 1vw;
    transform: translateY(8vw);
    margin: 0 15vw;
    border-radius: 1vw;
}